<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Report_PagIBIG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Report_PagIBIG.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Report_PagIBIG.Properties.Settings.ConnectionString"
            connectionString="Data Source=10.88.77.71;Initial Catalog=LCDB_01;User ID=allcard;Password=Test"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Report_PagIBIG.Properties.Settings>
            <setting name="SMTP_HOST" serializeAs="String">
                <value>mail.allcard.com.ph</value>
            </setting>
            <setting name="SMTP_PORT" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SMTP_TIMEOUT" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="SMTP_USER" serializeAs="String">
                <value>ecquinosa@allcardtech.com.ph</value>
            </setting>
            <setting name="SMTP_PASS" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="SMTP_RECIPIENT" serializeAs="String">
                <value>ecquinosa@allcardtech.com.ph</value>
            </setting>
            <setting name="BANK" serializeAs="String">
                <value>AUB</value>
            </setting>
        </Report_PagIBIG.Properties.Settings>
        <Report_PagIBIG.AppSettings>
            <setting name="Server" serializeAs="String">
                <value>10.88.77.68</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>LCDB_01</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>allcard</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
        </Report_PagIBIG.AppSettings>
    </userSettings>
</configuration>
